*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
}

.h1{
    display: block;
    text-align: center;
    background-color: chocolate;
    padding: 10px;
}

nav {
    display: flex;
    gap: 20px;
    justify-content: center;
    padding: 10px;
    background-color: blueviolet;
}

a{
    color: aliceblue;
    text-decoration: none;
}

a:hover{
    color: darkgrey;
}
main{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}

.card{
    background-color: antiquewhite;
    padding: 10px;
    margin: 10px;
    border: 1px solid #00000046;
    border-radius: 5px;
    max-width: 400px;

    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    text-align: center;
}

img{
    min-width: 300px;
}

@media screen and (min-width: 599px) {
    body{
        background-color: greenyellow;
    }
}