*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: rgba(3, 93, 141, 0.808);
}

form{
  display: flex;
  flex-direction: column;
  min-height: 30vh;
  justify-content:center;
  align-items: center;
  padding: 20px;
  border-radius: 10px;
  gap: 10px;
}

input{
  width: auto;
  height: 30px;
  border-radius: 5px;
  border: 1px solid #0000004e;
}

button{
  height: 30px;
  width: 100px;
  border-radius: 5px;
  border: 1px solid #0000004e;
}

main{
  display: flex;
  flex-direction: column;
  background-color: aliceblue;
  text-align: center;
  border: 1px solid red;
}

.app{
  display: flex;
  flex-direction: column;
}

.moreInfo{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

@media screen and (min-width: 536px) {
  form{
    display: flex;
    flex-direction: row;
    border: 1px solid rgb(0, 255, 68);
    width: auto;
    min-height: 30vh;
    justify-content:center;
    align-items: center;
    padding: 20px;
  }
}