*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.5rem;
    min-height: 200vh;
}
.outer-container {
    border: 3px dashed #000;
    width: 75vw;
    height: 85vh;
    margin: 46px auto;
    position: relative;
}
.inner-container {
    border: 2px solid #00f;
    width: 40vw;
    height: 50vh;
    margin: 200px auto;
}
.box{
    width: 150px;
    height: 150px;
    color: #fff; /* estan ahi pero ahora son del color del fondo por lo que no puedes verlo pero estan de forma vertical dentro del rectangulo azul con un estapcio de 150px entre ellos */
    padding: 1rem;
}
.absolute {
    background-color: #00f;
    /*position: static;     este es el valor por defecto de todos los elementos */
    position: absolute; /* si no aplicamos left o otra direccion un valor este se quedara en su posicion de origien pero esta atento al padre que tenga position-relative mas sercano, en este caso el ansestro mas sercano con position relative es onner-container, pero si no lo tuevise estaria en .outer-container, por que tmbn lo tiene ... */
    right: 0;
    bottom: 0;
}

.relative {
    background-color: #f00;
    position: relative; /* al aplicar relative siempre sera realitivo al contenedor que esta y no considerara los ancestros cercanos */
    left: 10px;
    top: 10px;
}

.fixed {
    background-color: green;
    position: fixed; /* se queda fijo, ideal para navs que se queden cuando scolleamos */
    top: 0;
    right: 0;
    z-index: 1; /* ayuda a sobreponerse a todos los elementos o a ocultarse tras algunos jugando con el valor de z- positivos o negativos  */
}

.sticky {
    background-color: #000;
    position: sticky;/* se desplasa con su contenedor asta que es no este en pantalla */
    top: 0;
}

/* practis --------------------------------------------- */
html{
    scroll-behavior: smooth;
}

section{
    height: 110vh;
}

.social{
    background-color: purple;
    color: antiquewhite;
    width: 5rem;
    height: 2rem;
    border-radius: 2rem;
    position: fixed;
    z-index: 1;
    top: 50%;
}

.blue{
    background-color: #00f;
}
.red{
    background-color: #f00;
}
.green{
    background-color: green;
}

header, footer{
    color: #fff;
    text-align: center;
    height: 50px;
    font-size: 2rem;
}

header{
    position: sticky;
    top: 0;
}

footer {
    background-color: #000;
    position: sticky;
    bottom: 0;
}

a:visited{
    color: #fff;
}