*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Courier New', Courier, monospace;
    min-height: 100vh;
    padding: 20px;
}

.container{
    width: 400px;
    height: 400px;
    margin-inline: auto;
    border: 1px solid #000;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    /* flex-direction: row-reverse;
    flex-wrap: wrap; */
    /* flex-flow hace estas dos en una sola, la primera es la direccion, la segunda es  wrap  */
    
    gap: 1rem;
}

.box{
    width: 100px;
    height: 100px;
    background-color: #000;
    color: #fff;
    font-size: 2rem;
    padding: 0.5rem;

    /* estas 3 lineas alinean cualquier elemento en el centro */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow:column-reverse ;
}