*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color:rgb(223, 243, 243);
    height: 100vh;
    width: 100vw;
}

.container{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    padding: 50px;
    background-color:  rgb(251, 254, 254);
    border-radius: 5px;
}