*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-size: 1rem;
    font-family: sans-serif;
}

header{
    display: flex;
    flex-direction: row;
    justify-content: end;
    gap: 2rem;
}

main{
    min-height: 80vh;
    display: grid;
    place-content: center;
    text-align: center;
    /* flex-direction: column;
    align-items: center;
    justify-content: center; */
}

button{
    width: 200px;
    height: 30px;
    border-radius: 5px;
    border: 1px solid #00000055;
    margin-bottom: 10px;
}

a{
    text-decoration: none;
}

.buttons{
    min-width: 400px;
    height: 80px;
}

.google{
    font-size: 5rem;
}

/* .buttons{
    max-width: 400px;
    display: grid;
    grid-template-columns: 1fr 1fr;
} */



