*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: sans-serif;
    background-color: #f4f4f4;
}

button{
    padding: 3px 10px;
    border-radius: 5px;
    border: solid rgba(43, 43, 43, 0.349) 1px;
    /* buscar como aplicar sombras para dar profundidad */
}
